CompileFlags:
  CompilationDatabase: /home/reggiemarr/Projects/fprime-atmel-sam-reference/fprime-cmsis/cmake/toolchain/support/sources/samv71q21b/out/blinky/SamV71-Xplained-Board/Debug
  Compiler: c++
