[submodule "libs/FreeRTOS"]
	path = deps/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "libs/mplab_event_recorder"]
	path = deps/mplab_event_recorder
	url = https://github.com/Microchip-MPLAB-Harmony/mplab_event_recorder.git
[submodule "libs/docker-wine"]
	path = deps/docker-wine
	url = https://github.com/scottyhardy/docker-wine.git
[submodule "deps/micro-sam-ba"]
	path = deps/micro-sam-ba
	url = https://github.com/atmelcorp/micro-sam-ba.git
[submodule "deps/mplab_dev_packs"]
	path = deps/mplab_dev_packs
	url = https://github.com/Microchip-MPLAB-Harmony/dev_packs.git
[submodule "deps/fprime"]
	path = deps/fprime
	url = https://github.com/nasa/fprime.git
